.modifypwdForm .pwdMsg.sendSuccess{background:#edffe9}
.modifypwdForm .pwdMsg.sendSuccess i{background: url(../../assets/images/allicon.png);background-repeat: no-repeat;background-position: -86px -527px;width: 25px;height: 25px;}
.modifypwdForm .pwdMsg.sendSuccess p{color:#333;}