.ml80{margin-left:80px;}
.mb60{margin-bottom:60px;}
.wrapper .detailsTit{border-bottom:1px dotted #d5dfe5;display:inline-block;width:73%;}
.wrapper .detailsTit h2{width:100%;}
.wrapper .detailsTit p{width:100%;margin-bottom:10px;color:#999;}
.wrapper .detailsCont p{margin-bottom:10px; width: 79%;}
.wrapper .detailsCont{width: 72%;}