<div ng-include="'app/header/header.html'"></div>
<div ng-include="'app/navbar/navbar.html'"></div>
<div class="accountWrapper">
    <div class="container mt20">
        <div class="fl aboutLeft">
			<dl>
				<dt><span>相关说明</span></dt>
				<dd><a href="" ui-sref="rate"><i class="rates"></i>费率说明</a></dd>
				<dd><a href="" ui-sref="plan"><i class="plan"></i>本息保障计划</a></dd>
				<dd><a href="" ui-sref="regulations"><i class="law"></i>资金托管报告</a></dd>
				<dd class="active"><a href="" ui-sref="protocol"><i class="protocol"></i>相关协议</a></dd>
			</dl>
		</div>
        <div class="fl aboutRight ml20">
			<div class="wrapper protocolWrapper">
				<ul class="tabTit" ng-model="selection">
					<li ng-click="selection = '1'" ng-class="{active:selection=='1'}"><a href="javaScript:;">网站注册协议</a></li>
					<li ng-click="selection = '2'" ng-class="{active:selection=='2'}"><a href="javaScript:;">借款协议</a></li>
					<li ng-click="selection = '3'" ng-class="{active:selection=='3'}"><a href="javaScript:;">债权转让协议（a）</a></li>
					<li ng-click="selection = '4'" ng-class="{active:selection=='4'}"><a href="javaScript:;">债权转让协议（b）</a></li>
				</ul>
				<div class="tabBox f14" ng-switch on="selection">
					<div class="col333 mb50" ng-switch-when="1">
						<p class="tc f16 fb">维金荟网站服务协议</p>
						<p class="tc f14 fb">最后更新时间：2015年04月23日</p>
						<p>本网站(维金荟网站)由上海维信智荟互联网金融信息服务有限公司负责运营（以下“本网站”均指网站及上海维信智荟互联网金融信息服务有限公司）。在您注册成为本网站用户前请务必仔细阅读以下条款。若您一旦注册，则表示您同意接受本网站的服务并受以下条款的约束。若您不接受以下条款，请您立即停止注册或主动停止使用本网站的服务。</p>
			<p>一、	本协议的签署和修订</p>
			<p>1.本网站只接受持有中国有效身份证明的18周岁以上具有完全民事行为能力的自然人成为网站用户。如您不符合资格，请勿注册，否则本网站有权随时中止或终止您的用户资格。</p>
			<p>2.本协议内容包括以下条款及本网站已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。本协议是您与本网站共同签订的，适用于您在本网站的全部活动。在您注册成为用户时，您已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中国的各类法律规定，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。</p>
			<p>3.本网站有权根据需要不时地修改本协议或根据本协议制定、修改各类具体规则并在本网站相关系统版块发布，无需另行单独通知您。您应不时地注意本协议及具体规则的变更，若您在本协议及具体规则内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用本网站的服务；同时就您在协议和具体规则修订前通过本网站进行的交易及其效力，视为您已同意并已按照本协议及有关规则进行了相应的授权和追认。若您不同意修改后的协议内容，您应停止使用本网站的服务。</p>
			<p>4.您通过自行或授权有关方根据本协议及本网站有关规则、说明操作确认本协议后，本协议即在您和本网站之间产生法律效力。本协议不涉及您与本网站的其他用户之间因网上交易而产生的法律关系或法律纠纷，但您在此同意将全面接受和履行与本网站其他用户在本网站签订的任何电子法律文本，并承诺按该等法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>
			<p>二、	服务的提供</p>
			<p>1.本网站提供的服务包括但不限于：发布借款需求、查阅交易机会、签订和查阅协议、资金充值、提现、代收、代付、贷后管理等，具体详情以本网站当时提供的服务内容为准。您同意，针对借款人用户，本网站有权根据借款人提供的各项信息及本网站独立获得的信息评定借款人在本网站所拥有的个人信用等级，或决定是否推送借款人的借款申请。</p>
			<p>2.基于运行和交易安全的需要，本网站可以暂时停止提供、限制或改变本网站服务的部分功能，或提供新的功能。在任何功能减少、增加或者变化时，只要您仍然使用本网站的服务，表示您仍然同意本协议或者变更后的协议。</p>
			<p>3.您确认，您在本网站上按本网站服务流程所确认的交易状态将成为本网站为您进行相关交易或操作（包括但不限于冻结资金、代为支付或收取款项、订立合同等）的明确指令。您同意本网站有权按相关指令依据本协议和/或有关文件和规则对相关事项进行处理。</p>
			<p>4.您未能及时对交易状态进行修改或确认或未能提交相关申请所引起的任何纠纷或损失由您本人负责，本网站不承担任何责任。</p>
			<p>三、	交易管理及费用</p>
			<p>1.在您成功注册后，您可以自行或授权您的代理人根据本网站有关规则和说明，通过本网站确认签署有关协议并经本网站审核通过后实现借款需求或资金的出借（出借方式包括但不限于向借款人直接出借或受让债权等形式）。详细操作规则及方式请见有关协议及本网站相关页面的规则和说明。</p>
			<p>2.本网站将为您的借款、还款或资金的出借、回收、债权转让等交易提供服务，并在服务过程中根据有关文件、协议和/或本网站页面的相关规则、说明等收取必要的服务或管理费用，其具体内容、比例、金额等事项请参见有关文件及本网站相关页面的规则和说明（包括但不限于：如果您为投资人，就您的每一期回款，本网站有权向您收取一定比例的投资居间服务费；就您的每一次资金提现动作，本网站有权向您收取一定比例的提现手续费；就您每一笔成功转让的债权，本网站有权基于您所转让债权的金额向您收取一定比例的债权转让手续费，具体收费的比例及金额等请参见本网站的相关规则和说明）。您同意，本网站有权不时调整前述费用的类型或金额等具体事项并根据本协议和相关规则进行公告、修改。</p>
			<p>四、	资金管理</p>
			<p>1.就您在本网站进行的借款或出借，本网站和/或本网站委托的第三方机构将为您提供“资金服务”，主要包括但不限于：资金的充值、提现、代收、代付、查询等。您可以通过本网站有关页面的具体规则或说明详细了解。</p>
			<p>2.您了解：上述充值、提现、代收、代付以及查询等服务涉及本网站与第三方支付机构或金融机构的合作。您同意：</p>
			<p>a)受第三方支付机构或金融机构可能仅在工作日进行资金代扣及划转的现状等各种原因所限，本网站不对前述服务的资金到账时间做任何承诺，也不承担与此相关的责任，包括但不限于由此产生的利息、货币贬值等损失；</p>
			<p>b)一旦您使用前述服务，即表示您不可撤销地授权本网站进行相关操作，且该等操作是不可逆转的，您不能以任何理由拒绝付款或要求取消交易。就前述服务，您应按照有关文件及第三方支付机构或金融机构的规定支付第三方的费用，您与第三方之间就费用支付事项产生的争议或纠纷，与本网站无关。</p>
			<p>3.您保证并承诺您通过本网站平台进行交易的资金来源合法。您同意，本公司有权按照包括但不限于公安机关、检察机关、法院等司法机关、行政机关、军事机关的要求协助对您的账户及资金等进行查询、冻结或扣划等操作。</p>
			<p>4.本网站有权基于交易安全等方面的考虑不时设定涉及交易的相关事项，包括但不限于交易限额、交易次数等。您了解，本网站的前述设定可能会对您的交易造成一定不便，您对此没有异议。</p>
			<p>5.如果本网站发现了因系统故障或其他原因导致的处理错误，无论有利于本网站还是有利于您，本网站都有权在根据本协议规定通知您后纠正该错误。如果该错误导致您实际收到的金额少于您应获得的金额，则本网站在确认该处理错误后会尽快将您应收金额与实收金额之间的差额存入您的用户账户。如果该错误导致您实际收到的金额多于您应获得的金额，则无论错误的性质和原因为何，您都应及时根据本网站向您发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。您理解并同意：您因前述处理错误而多付或少付的款项均不计利息，本网站不承担因前述处理错误而导致的任何损失或责任（包括您可能因前述错误导致的利息、汇率等损失），但因本网站恶意而导致的处理错误除外。</p>
			<p>6.在任何情况下，对于您使用本网站服务过程中涉及由第三方提供相关服务的责任由该第三方承担，本网站不承担该等责任。因您自身的原因导致本网站服务无法提供或提供时发生任何错误而产生的任何损失或责任，由您自行负责，本网站不承担责任。</p>
			<p>五、	电子合同</p>
			<p>1.在本网站平台交易需订立的协议采用电子合同方式，可以有一份或者多份并且每一份具有同等法律效力。您或您的代理人根据有关协议及本网站的相关规则在本网站确认签署的电子合同即视为您本人真实意愿并以您本人名义签署的合同，具有法律效力。您应妥善保管自己的账户密码等账户信息，您通过前述方式订立的电子合同对合同各方具有法律约束力，您不得以账户密码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。</p>
			<p>2.您根据本协议以及本网站的相关规则签署电子合同后，不得擅自修改该等合同。本网站向您提供电子合同的保管查询、核对等服务，如对电子合同真伪或电子合同的内容有任何疑问，您可通过本网站的相关系统板块查阅有关合同并进行核对。如对此有任何争议，应以本网站记录的合同为准。</p>
			<p>3.对于某些附条件生效的电子合同，在您点击确认相关条款后即成立。在约定的条件成就后，该类电子合同即生效（无需您的再次点击或者确认）。</p>
			<p>六、	用户信息及隐私权保护</p>
			<p>1.用户信息的提供、搜集及核实</p>
			<p>a)您有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性、安全性和及时更新，以便本网站为您提供服务并与您进行及时、有效的联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。</p>
			<p>b)本网站可能自公开及私人资料来源收集您的额外资料，以更好地了解本网站用户，并为其度身订造本网站服务、解决争议和确保在网站进行交易的安全性。本网站仅收集本网站认为就此目的及达成该目的所必须的关于您的个人资料。</p>
			<p>c)您同意本网站可以自行或通过合作的第三方机构对您提交或本网站搜集的用户信息（包括但不限于您的个人身份证信息等）进行核实，并对获得的核实结果根据本协议及有关文件进行查看、使用和留存等操作。</p>
			<p>d)本网站按照您在本网站上的行为自动追踪关于您的某些资料。本网站利用这些资料进行有关本网站之用户的人口统计、兴趣及行为的内部研究，以更好地了解您以便向您和本网站的其他用户提供更好的服务。</p>
			<p>e)本网站在本网站的某些网页上使用诸如“Cookies”的资料收集装置。“Cookies”是设置在您的硬盘上的小档案，以协助本网站为您提供度身订造的服务。本网站亦提供某些只能通过使用“Cookies”才可得到的功能。本网站还利用“Cookies”使您能够在某段期间内减少输入密码的次数。“Cookies”还可以协助本网站提供专门针对您的兴趣而提供的资料。</p>
			<p>f)如果您将个人通讯信息（例如：手机短信、电邮或信件地址）交付给本网站，或如果其他用户或第三方向本网站发出关于您在本网站上的活动或登录事项的通讯信息，本网站可以将这些资料收集在您的专门档案中。</p>
			<p>2.用户信息的使用和披露</p>
			<p>a)您同意本网站可使用关于您的个人资料（包括但不限于本网站持有的有关您的档案中的资料，及本网站从您目前及以前在本网站上的活动所获取的其他资料）以解决争议、对纠纷进行调停、确保在本网站进行安全交易，并执行本网站的服务协议及相关规则。本网站有时候可能调查多个用户以识别问题或解决争议，特别是本网站可审查您的资料以区分使用多个用户名或别名的用户。为限制在网站上的欺诈、非法或其他刑事犯罪活动，使本网站免受其害，您同意本网站可通过人工或自动程序对您的个人资料进行评价。</p>
			<p>b)您同意本网站可以使用您的个人资料以改进本网站的推广和促销工作、分析网站的使用率、改善本网站的内容和产品推广形式，并使本网站的网站内容、设计和服务更能符合用户的要求。这些使用能改善本网站的网页，以调整本网站的网页使其更能符合您的需求，从而使您在使用本网站服务时得到更为顺利、有效、安全及度身订造的交易体验。</p>
			<p>c)您同意本网站利用您的资料与您联络并（在某些情况下）向您传递针对您的兴趣而提供的信息，例如：有针对性的广告条、行政管理方面的通知、产品提供以及有关您使用本网站的通讯。您接受本协议即视为您同意收取这些资料。</p>
			<p>d)您注册成功后应妥善保管您的用户名和密码。您确认，无论是您还是您的代理人，用您的用户名和密码登录本网站后在本网站的一切行为均代表您并由您承担相应的法律后果。</p>
			<p>e)本网站对于您提供的、自行收集到的、经认证的个人信息将按照本协议及有关规则予以保护、使用或者披露。本网站将采用行业标准惯例以保护您的个人资料，但鉴于技术限制，本网站不能确保您的全部私人通讯及其他个人资料不会通过本协议中未列明的途径泄露出去。</p>
			<p>f)您使用本网站服务进行交易时，您即授权本网站将您的包括但不限于真实姓名、联系方式、信用状况等必要的个人信息和交易信息披露给与您交易的另一方或本网站的合作机构（仅限于本网站为完成拟向您提供的服务而合作的机构）。</p>
			<p>g)本网站有义务根据有关法律要求向司法机关和政府部门提供您的个人资料。在您未能按照与本协议、本网站有关规则或者与本网站其他用户签订的有关协议的约定履行自己应尽的义务时（包括但不限于当您作为借款人借款逾期或有其他违约时），本网站有权根据自己的判断、有关协议和规则、国家生效裁决文书或者与该笔交易有关的其他用户的合理请求披露您的个人资料（包括但不限于在本网站及互联网络上公布您的违法、违约行为，并有关将该内容记入任何与您相关的信用资料、档案或数据库），并且作为出借人的其他用户可以采取发布您的个人信息的方式追索债权或通过司法部门要求本网站提供相关资料，本网站对此不承担任何责任。</p>
			<p>3.您对其他用户信息的使用</p>
			<p>a)在本网站提供的交易活动中，您无权要求本网站提供其他用户的个人资料，除非符合以下条件：</p>
			<p>1)您已向法院起诉其他用户的在本网站活动中的违约行为；</p>
			<p>2)与您有关的其他用户逾期未归还借款本息；</p>
			<p>3)本网站被吊销营业执照、解散、清算、宣告破产或者其他有碍于您收回借款本息的情形。</p>
			<p>b)如您通过签署有关协议等方式获得其他用户的个人信息，您同意不将该等个人信息用于除还本付息或向借款人追索债权以外的其他任何用途，除非该等信息根据适用的法律规定、被有管辖权的法院或政府部门要求披露。</p>
			<p>七、	不保证及使用限制</p>
			<p>1.不保证</p>
			<p>a)在任何情况下，本网站及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员（以下称“本网站方”）均不以任何明示或默示的方式对您使用本网站服务而产生的任何形式的直接或间接损失承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等，无论您通过本网站形成的借贷关系是否适用本网站的风险备用金规则或者是否存在第三方担保，并且本网站方不保证网站内容的真实性、充分性、及时性、可靠性、完整性和有效性，并且免除任何由此引起的法律责任。</p>
			<p>b)本网站不能保证也没有义务保证第三方网站上的信息的真实性和有效性。您应按照第三方网站的服务协议使用第三方网站，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险，而与本网站无关。</p>
			<p>c)因为本网站或者涉及的第三方网站的设备、系统存在缺陷、黑客攻击、网络故障、电力中断、计算机病毒或其他不可抗力因素造成的损失，本网站均不负责赔偿，您的补救措施只能是与本网站协商终止本协议并停止使用本网站。但是，中国现行法律、法规另有规定的除外。</p>
			<p>2.使用限制</p>
			<p>a)您承诺合法使用本网站提供的服务及网站内容。您不得利用本服务从事侵害他人合法权益之行为，不得在本网站从事任何可能违反中国的法律、法规、规章和政府规范性文件的行为或者任何未经授权的行为，如擅自进入本网站的未公开的系统、不正当的使用账号密码和网站的任何内容等。</p>
			<p>b)您不得使用本网站提供的服务或其他电子邮件转发服务发出垃圾邮件或其他可能违反本协议的内容。</p>
			<p>c)本网站没有义务监测网站内容，但是您确认并同意本网站有权不时地根据法律、法规、政府要求透露、修改或者删除必要的信息，以便更好地运营本网站并保护自身及本网站的其他合法用户。</p>
			<p>d)本网站中全部内容的知识产权均属于本网站或本网站之合作机构所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容”）。网站内容受中华人民共和国知识产权相关法律法规及知识产权相关的国际公约保护。未经本网站事先书面同意，您承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。您承认网站内容是属于本网站的财产。未经本网站书面同意，您亦不得将本网站包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，本网站将追究您的法律责任。</p>
			<p>e)由于您违反本协议或任何法律、法规或侵害第三方的权利，而引起第三方对本网站提出的任何形式的索赔、要求、诉讼，本网站有权向您追偿相关损失，包括但不限于本网站的法律费用、名誉损失、及向第三方支付的补偿金等。</p>
			<p>八、	协议终止及账户的暂停、注销或终止</p>
			<p>1.除非本网站终止本协议或者您申请终止本协议且经本网站同意，否则本协议始终有效。在您违反了本协议、相关规则，或在相关法律法规、政府部门的要求下，本网站有权通过站内信、电子邮件通知等方式终止本协议、关闭您的账户或者限制您使用本网站。但本网站的终止行为不能免除您根据本协议或在本网站生成的其他协议项下的还未履行完毕的义务。</p>
			<p>2.您若发现有第三人冒用或盗用您的用户账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知本网站，要求本网站暂停相关服务，否则由此产生的一切责任由您本人承担。同时，您理解本网站对您的请求采取行动需要合理期限，在此之前，本网站对第三人使用该服务所导致的损失不承担任何责任。</p>
			<p>3.您决定不再使用用户账户时，应首先清偿所有应付款项（包括但不限于借款本金、利息、罚息、违约金、服务费、管理费等），再将用户账户中的可用款项（如有）全部提现或者向本网站发出其它合法的支付指令，并向本网站申请注销该用户账户，经本网站审核同意后可正式注销用户账户。会员死亡或被宣告死亡的，其在本协议项下的各项权利义务由其继承人承担。若会员丧失全部或部分民事权利能力或民事行为能力，本网站有权根据有效法律文书（包括但不限于生效的法院判决等）或其法定监护人的指示处置与用户账户相关的款项。</p>
			<p>4.本网站有权基于单方独立判断，在认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除，且无需对您或任何第三方承担任何责任。前述情形包括但不限于：</p>
			<p>a)本网站认为您提供的个人资料不具有真实性、有效性或完整性；</p>
			<p>b)本网站发现异常交易或有疑义或有违法之虞时；</p>
			<p>c)本网站认为您的账户涉嫌洗钱、套现、传销、非法集资、被冒用或其他本网站认为有风险之情形；</p>
			<p>d)本网站认为您已经违反本协议中规定的各类规则及精神；</p>
			<p>e)本网站基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向您提供本协议项下的全部或部分会员服务，并将注册资料移除或删除的其他情形。</p>
			<p>5.您同意在必要时，本网站无需进行事先通知即有权终止提供用户账户服务，并可能立即暂停、关闭或删除您的用户账户及该用户账户中的所有相关资料及档案，并将您滞留在这些账户的全部合法资金退回到您的银行账户。</p>
			<p>6.您同意，用户账户的暂停、中断或终止不代表您责任的终止，您仍应对您使用本网站服务期间的行为承担可能的违约或损害赔偿责任，同时本网站仍可保有您的相关信息。</p>
			<p>7.若您使用第三方网站账号注册本网站用户账户，则您应对您本网站用户账户所对应的第三方网站账号拥有合法的使用权，如您因故对该第三方网站账号丧失使用权的，则本网站可停止为您的该用户账户提供服务。但如该用户账户尚存有余额的，本网站将会为您妥善保管。此时，如您欲取回其原有余额，本网站将提供更换本网站账户名的服务，即您可把您原本网站账户下余额转移到您另外合法注册的本网站账户中；如因故无法自助完成更换账户名，您可以向本网站提出以银行账户接受原有资金的请求，经核验属实后，本网站可配合您将原有资金转移到以您真实姓名登记的银行账户下。</p>
			<p>九、	通知</p>
			<p>本协议项下的通知如以公示方式作出，一经在本网站公示即视为已经送达。除此之外，其他向您个人发布的具有专属性的通知将由本网站向您在注册时提供的电子邮箱，或本网站在您的个人账户中为您设置的站内消息系统栏，或向您在注册后在本网站绑定的手机发送，一经发送即视为已经送达。请您密切关注您的电子邮箱 、站内消息系统栏中的邮件、信息及手机中的短信信息。您同意本网站出于向您提供服务之目的，可以向您的电子邮箱、站内消息系统栏和手机发送有关通知或提醒；若您不愿意接收，请在本网站相应系统板块进行设置。但您同时同意并确认，若您设置了不接收有关通知或提醒，则您有可能收不到该等通知信息，您不得以您未收到或未阅读该等通知信息主张相关通知未送达于您。</p>
			<p>十、	适用法律及管辖</p>
			<p>因本网站所提供服务而产生的争议均适用中华人民共和国法律，并由上海维信智荟互联网金融信息服务有限公司住所地的上海市浦东新区人民法院管辖。</p>
			<p>十一、	其他</p>
			<p>本网站对本协议拥有最终的解释权。本协议及本网站有关页面的相关名词可互相引用参照，如有不同理解，则以本协议条款为准。此外，若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
			<p class="fb mt30">附件：风险备用金账户规则</p>
			<p class="tc fb">风险备用金账户规则（2015年4月版）</p>
			<p>“风险备用金账户”是指上海维信智荟互联网金融信息服务有限公司（下称“平台”）为所服务的所有投资人的共同利益考虑，以平台名义单独开设并由银行进行资金托管的一个专款专用账户。</p>
			<p>1.“风险备用金账户”资金来源</p>			
			<p><span class="fb">“风险备用金账户”资金全部来源于借款人向平台每月支付的平台服务费，平台在收取该费用的同时，将在该平台服务费中按照投资项目信用评级计提风险备用金</span>（详见《风险备用金计提规则》）。计提的风险备用金将存入“风险备用金账户”进行专户管理。<span class="fb">投资项目信用评级及各评级计提比例由平台制定并解释，平台有权根据实际业务需要对相关内容进行调整，如作修改，平台将及时进行披露。</span>
				《风险备用金计提规则》：</p>
			<p><img src="../../assets/images/rule.png"></p>
			<p>2.“风险备用金账户”资金用途</p>
			<p>“风险备用金账户”资金将专门用于在一定限额内对符合保障条件的投资项目进行偿付。当投资项目借款人发生连续3期账单逾期，且在此期间未发生过足额还款，平台将按照“风险备用金账户资金使用规则”从该账户中提取相应资金用于偿付投资人在该笔投资项目项下剩余未还本金，同时向服务方偿付其之前垫付的3期本金、利息、罚息以及平台服务费。
			</p>
			<p>3.“风险备用金账户”资金使用规则</p>
			<p>“风险备用金账户”资金使用遵循以下规则：</p>
			<p>1)     违约偿付规则，即当投资项目借款人发生连续3期账单逾期，且在此期间未发生过足额还款，方才从“风险备用金账户”资金中提取相应资金偿付投资人及服务方。</p>
			<p>2)     时间顺序规则，即“风险备用金账户”资金对投资项目的偿付按照该投资项目逾期的时间顺序进行偿付分配。先偿付逾期在先的投资项目，后偿付逾期在后的投资项目。</p>
			<p class="fb">3)     有限偿付规则，即“风险备用金账户”资金对投资人逾期应收金额的偿付以该账户的资金总额为限。当该账户余额为零时，自动停止对投资人逾期应收赔付金额的偿付，直到该账户获得新的风险备用金。</p>
			<p>4)     收益转移规则，即当投资人享有了“风险备用金账户”对某投资项目按照既定规则进行的偿付后，平台即取得对应债权；该债权对应的借款人其后为该笔投资项目所偿还的全部本金、利息及罚息归属“风险备用金账户”。</p>
			<p>4.“风险备用金账户”资金托管规则</p>
			<p>平台与银行就平台风险备用金托管问题正式签署协议。银行会对平台的风险备用金专户资金进行认真、独立的托管，并针对风险备用金专户资金的实际进出情况每月出具托管报告。平台将每月公布风险备用金的情况，供用户监督。以下是平台风险备用金资金托管及每月公布的一些细则：</p>
			<p>1)     平台于每月第一个工作日与银行核对上月末风险备用金余额数据，银行于每月初出具平台风险备用金的资金托管报告；</p>
			<p>2)     平台于每月10日前，公布上月底的风险备用金余额情况并公布银行出具的资金托管报告；</p>
			<p>3)     平台风险备用金在银行托管期间产生的所有利息收入均归入风险备用金并按照本规则进行使用。</p>
					</div>
					<div ng-switch-when="2" class="col333 mb50">
						<p class="tr">编号：<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></p>
						<p class="tc f16 fb">借款协议</p>
						<p>本借款协议（下称“本协议”）由以下各方签署：</p>
						<p>甲方（出借人）：</p>
						<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<th width="27%">维金荟用户名</th>
									<th width="18%">出借金额</th>
									<th width="18%">借款期限</th>
									<th width="35%">每月应收本息</th>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								 </tr>
								 <tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								 </tr>
							</tbody>
						</table>
						<p>注：因计算中存在四舍五入，最后一期应收本息与之前略有不同；本协议所称“甲方”根据上下文文义指甲方之全体或各甲方中的任一主体，<b>且“甲方”包括原始出借人以及受让转让之债权后的所有买受人。</b></p>
						<p>乙方（借款人）：</p>
						<p>真实姓名：</p>
						<p>身份证号：</p>
						<p>维金荟用户名：</p>
						<p>电子邮件地址：</p>
						<p>丙方（平台）：上海维信智荟互联网金融信息服务有限公司</p>
						<p>住所：上海市浦东新区茂兴路88号4楼435室</p>
						<p>签订时间：</p>
						<p>鉴于：</p>
						<p>1.	丙方是一家在上海市合法成立并有效存续的有限责任公司，拥有<a href="http://www.vmoney">www.vmoney.cn </a>网站（下称“维金荟网站”或“维金荟平台”或“平台”）的经营权，并为各主体在维金荟网站上达成的交易提供信用咨询服务和信息服务，撮合借贷双方达成借贷交易；</p>
						<p>2.	甲方均已在维金荟网站注册，并同意以其自有合法资金进行出借；</p>
						<p>3.	乙方有借款需求，且已自行或委托其授权代理人在维金荟网站注册，并将其主体信息及借款需求信息通过其授权代理人提供予丙方并由丙方在维金荟网站发布；</p>
						<p>4.	甲乙双方均同意通过自行或授权他人在维金荟网站操作并形成电子合同（或协议）的方式达成借款交易。</p>
						<p><b>据此，</b>各方经协商一致，达成如下协议，以资共同遵照履行：</p>
						<p><b>1.&nbsp;借款基本信息</b></p>
						<table class='MsoNormalTable' border=0 cellspacing=0 cellpadding=0 width=548>
							<tr>
								<td>借款详细用途</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>借款本金</td>
								<td style="text-align:left;">&yen;&nbsp;&nbsp;（各出借人借款本金数额详见本协议文首表格）</td>
							</tr>
							<tr>
								<td>年利率</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>借款期限</td>
								<td style="text-align:left;">&nbsp;&nbsp;期，自&nbsp;&nbsp;年&nbsp;&nbsp;月&nbsp;&nbsp;日 起</td>
							</tr>
							<tr>
								<td>月偿还本息</td>
								<td style="text-align:left;">&yen;&nbsp;&nbsp;&nbsp;&nbsp;（各出借人借款本金数额详见本协议文首表格）</td>
							</tr>
							<tr>
								<td>月付管理费</td>
								<td style="text-align:left;">本金的<u>&nbsp;&nbsp;&nbsp;&nbsp;</u>%，即<u>&nbsp;&nbsp;&nbsp;&nbsp;</u>元</td>
							</tr>
							<tr>
								<td>还款日</td>
								<td style="text-align:left;">每月&nbsp;&nbsp;日</td>
							</tr>
						</table>
						<p><b>2.	本协议的订立和借款出款的方式及路径</b></p>
						<p>2.1	各方同意并确认，各方通过自行或授权有关方根据维金荟网站有关规则和说明，在维金荟网站进行借款申请操作和投标来确认签署本协议。</p>
						<p>2.2	各方在维金荟网站进行借款申请操作和投标操作之前，均需仔细阅读并确认同意本协议各条款以及同意本协议的签署。各方通过上述方式签署本协议且各甲方同意出借资金总额达到乙方借款金额、丙方对本协议的签署程序、所涉内容进行复核通过时，本协议即成立并将在维金荟网站保存，各方均可查阅。</p>
						<p>2.3	本协议成立后，甲方维金荟资金账户的出借资金划付至乙方的维金荟资金账户，即完成本协议项下资金的出借；该等出借资金在扣除乙方应付费用（如有）后，由乙方/乙方之授权代理人从乙方的维金荟资金账户提现至乙方的银行账户。<br/>本协议所称的“维金荟资金账户”，是指各方自行或委托其授权代理人在<b>上海汇付数据服务有限公司（简称汇付天下）开设的资金账户。</b></p>
						<p><b>3.	各方权利和义务</b></p>
						<p><b>3.1	甲方的权利和义务</b></p>
						<p>3.1.1	甲方应保证向维金荟网站提供的信息、资料均为合法、真实、有效，不存在任何虚假、遗漏和隐瞒；同时，甲方保证其所用于出借的资金来源合法且是该资金的合法权利人，并非任何非法活动所得，也非汇集他人之资金或甲方受托管理之财产；如果第三人对资金归属、合法性问题发生争议，由甲方负责解决并自行承担相关责任；在该等争议解决（以取得生效的判决、裁决或行政命令、通知为标志）之前，丙方有权根据政府机关、司法机关或仲裁机关出具且生效的命令、判决、裁定或其他法律文件拒绝或通知借款人拒绝向甲方支付相关款项。</p>
						<p>3.1.2	甲方享有其所出借款项所带来的利息收益，并应自行承担并缴付就该等利息收益应当缴付之税费（如有）。</p>
						<p>3.1.3	丙方向甲方提供投资平台居间服务，甲方同意在借款成功后按月向丙方支付本次借款所得利息的 10 %作为居间服务费，该费用由甲方每月在收款当日支付，甲方同意授权汇付天下从甲方维金荟资金账户直接扣划该费用。</p>
						<p>3.1.4	就任一甲方在本协议项下对乙方的部分或全部债权，任一甲方均有权限根据自己的意愿合法转让。</p>
						<p>3.1.5	如乙方违反本协议项下对甲方负有的任何义务，甲方或其债权受让人有权要求丙方提供其已获得的乙方信息、资料。</p>
						<p>3.1.6	甲方承诺对依据本协议获得的乙方信息或资料予以保密，除本协议约定或用于本协议目的进行资金出借与合理催收外，不得向外转让或披露。</p>
						<p>3.1.7	本协议和法律法规规定的其他权利和义务。</p>
						<p>3.2	乙方权利和义务</p>
						<p>3.2.1	乙方应当按期、足额向甲方归还每期应还本金和利息，以及按期足额向丙方支付平台服务费。</p>
						<p>3.2.2	除按照本协议约定进行使用外，乙方不得将本协议项下之借款用于其他任何用途。</p>
						<p>3.2.3	丙方向乙方提供展示融资需求服务，并撮合、匹配甲方和乙方之间达成借款交易，并进行贷款管理工作，故乙方同意在借款后每月向丙方支付平台服务费，该费用由乙方每月与应还本息一并支付。</p>
						<p>3.2.4	乙方在此同意并确认甲方可以根据自己的意愿对其根据本协议形成的对乙方的部分或全部债权进行转让；同时承诺若届时需要，将采取必要措施配合债权的一次或多次转让或届时债权人债权的实现。</p>
						<p>3.2.5	乙方应确保其提供的信息和资料的真实性，不得提供虚假信息或隐瞒重要事实。若乙方违反本协议约定，丙方有权根据本协议及有关条款对乙方的信息和资料予以合理的披露。</p>
						<p>3.2.6	乙方有权了解其在丙方的信用评审进度及结果。</p>
						<p>3.2.7	除本协议另有条款约定外，乙方不得将本协议项下的任何权利义务转让给任何其他方。</p>
						<p>3.2.8	当乙方因任何原因未能按期、足额偿付本协议项下应付款项时，甲方、丙方均有权直接向乙方主张违约责任。</p>
						<p>3.2.9	本协议和法律法规规定的其他权利和义务。</p>
						<p><b>3.3&nbsp;丙方的权利和义务</b></p>
						<p>3.3.1	丙方有权根据乙方提供的各项信息及丙方独立获得的信息评定乙方在丙方处所拥有的个人信用等级，并根据对乙方个人信息的评审结果，决定是否将乙方的借款需求向甲方进行推荐。但丙方的评审行为不构成对乙方债务的任何保证。</p>
						<p>3.3.2	丙方有权收取本协议约定的相关费用，并有权委托第三方收取。</span></p>
						<p>3.3.3	对于乙方拖欠应付款项的行为，丙方有权利（但无义务）对乙方采取合理的还款催告措施。</p>
						<p>3.3.4	本协议、相关授权文件和法律法规规定的其他权利和义务。</p>
						<p><b>4.&nbsp;债权转让</b></p>
						<p>4.1	任一甲方均有权将其在本协议项下对乙方享有的债权之全部或部分向任何一个或多个主体进行转让（下称“债权转让”）。甲方进行债权转让的，受让方同时受让甲方在本协议项下之各项权利、义务并受本协议项下各条款之约束。</p>
						<p>4.2	<b>甲方进行债权转让的，将向乙方或乙方授权代理人发送债权转让通知（通知方式包括但不限于本协议10.6，），该等转让通知一经向乙方或乙方授权代理人发出，即视为甲方已将债权转让事宜通知乙方，乙方不以任何理由对此提出异议或抗辩。且甲方有权委托他人（包括不限于丙方）代为发出该等通知。</b>债权转让后，债权受让人依法承接甲方在本协议项下的权利和义务，乙方需对债权受让人继续履行本协议下约定的还款等义务。</p>
						<p><b>5.&nbsp;委托授权</b></p>
						<p>5.1 <b>	甲方在此同意并确认，授权丙方作为其代理人，代理甲方行使甲方在本协议项下之各项权利，包括但不限于按照本协议第7条规定提前解除本协议或宣布乙方未偿本息全部到期、向乙方或乙方授权代理人发送债权转让等通知、向乙方进行借款的违约提醒及催收工作（包括但不限于电话通知、上门通知、发律师函、对乙方提起诉讼等）；同时，甲方同意丙方将上述授权事项转委托。</b></p>
						<p><b>6.&nbsp;信息保护</b></p>
						<p>6.1	各方在此确认，出于保护甲方信息安全的考虑，对于甲方的信息，仅甲方自己和/或其授权代理人以及丙方可见。但有鉴于维金荟网站用户账户名称的唯一性且维金荟网站对其用户均进行了真实身份验证，该等甲方真实身份在本协议项下的隐藏，并不对甲方真实意思的表示、本协议的有效性产生任何影响。</p>
						<p>6.2	对于各甲方而言，丙方将按照维金荟网站用户注册协议（包括其有效修订和补充，下同）使用、披露其各项信息、资料；对于乙方而言，丙方有权配合甲方行使本协议项下各权利，向甲方提供乙方之各项信息、资料，同时，丙方还有权根据维金荟网站用户注册协议使用、披露乙方信息、资料。</p>
						<p><b>7.&nbsp;违约责任</b></p>
						<p>7.1	协议各方均应严格履行协议义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。</p>
						<p>7.2	任何一方违约，违约方应承担违约使得其他各方产生的费用和损失，包括但不限于调查费、诉讼费、律师费等。</p>
						<p>7.3	乙方偿还的每期还款均应按照如下顺序清偿：</p>
						<p>7.3.1 平台管理费等乙方应付费用；</p>
						<p>7.3.2 罚息；</p>
						<p>7.3.3 利息；</p>
						<p>7.3.4 本金；</p>
						<p>当乙方存在两期及以上应还金额时，则应从发生时间最早的一期开始按上述顺序分配。</p>
						<p>7.4	乙方应严格履行还款义务，如乙方逾期偿付本协议项下应付甲方的款项，则应按照下述条款就该逾期款项向甲方支付逾期罚息，且逾期本金部分在逾期后不再按照本协议约定利率计算利息：罚息金额 = 逾期本息总额×罚息利率×逾期天数，罚息利率：<u>&nbsp; 0.05% &nbsp;</u>/日；对于乙方发生的每一笔逾期款项，均应按照本条规定分别计算罚息后加总。</p>
						<p>7.5	除本协议另有约定外，发生如下任一情形的，甲方（含债权受让人）有权自行或授权丙方（或丙方委托的第三方）（根据本协议第5条的授权）向乙方发出书面通知（通知方式包括不限于本协议10.6约定的方式），宣布自通知发出之日或通知记载的其他日期（即“提前解约或到期日”）起，本协议提前解除或在本协议项下的借款全部到期，乙方应当在该等提前解约或到期日偿付其未偿之全部本金、届期利息和其他款项（如有），<b>同时还应向甲方支付相当于借款本金30%的违约金：</b></p>
						<p>7.5.1 连续逾期三期以上（含三期）；</p>
						<p>7.5.2 累计逾期达五期以上（含五期）；</p>
						<p>7.5.3	乙方出现逃避、拒绝沟通或拒绝承认欠款事实、故意转让资产、信用情况恶化（乙方逾期后，即使其代偿人进行代偿，也构成乙方信用情况恶化）等任何危害或可能危害本协议项下甲方权利实现之情形；</p>
						<p>7.5.4	乙方发生对外融资、担保且严重影响乙方在本协议项下的履约能力的。</p>
						<p>7.6	发生本协议第7.5条规定情形时，丙方有权采取或授权第三方采取如下任一措施且无需承担任何责任：</p>
						<p>7.6.1	将乙方的“逾期记录”、“恶意行为”或“不良情况”提供给中国人民银行个人信用信息基础数据库及征信主管部门批准建立的个人信用数据库，以供有关单位、部门或个人依法查询和使用；</p>
						<p>7.6.2	将乙方违约失信的相关信息及乙方其他信息向包括但不限于媒体、用人单位、公安机关、检察机关、法院等有权机关及有关逾期款项催收服务机构披露；</p>
						<p>7.6.3	以各种通讯手段(包括但不限于：电话、短信、微信等各种通讯手段)告知乙方的近亲属、朋友有关乙方的欠款信息，并在丙方网站或其他报纸、网站上发布乙方的欠款信息，信息内容包括但不限于乙方的姓名、身份证号码、住址、工作单位、照片、欠款金额、逾期时间及违约责任等。</p>
						<p>7.7	在乙方还清全部本金、利息、罚息之前，罚息的计算不停止。</p>
						<p>7.8	本借款协议中的各甲方与乙方之间的借款均是相互独立的，一旦乙方逾期未归还借款本息，甲方中的任何一方均有权单独向乙方追索或者提起诉讼。如乙方逾期支付平台服务费或提供虚假信息的，丙方亦可单独向乙方追索或者提起诉讼。</p>
						<p><b>8.&nbsp;提前还款</b></p>
						<p>8.1	在经甲方及丙方核准同意后，乙方可提前还款。</p>
						<p>8.2	如乙方提前还款的申请获得通过并满足相关要求后，乙方按照本条规定提前清偿全部剩余借款本金时，应偿付截至对应还款日的利息、全部剩余本金、平台服务费及已欠付款项。</p>
						<p>8.3	乙方提前清偿全部剩余借款本金的，还应向甲方支付提前还款补偿，提前还款补偿=乙方申请提前还款时应付剩余借款本金×1%。同时，乙方还应当按照本协议及其他相关约定支付其他应付款项（如有）。</span></p>
						<p ><b>9.&nbsp;法律适用及争议解决</b></p>
						<p>9.1 本协议的签订、履行、终止、解释均适用中华人民共和国法律。</p>
						<p><b>9.2	本协议在履行过程中，如发生任何争执或纠纷，各方应友好协商解决；若协商不成，任何一方均有权向丙方住所地上海市浦东新区人民法院提起诉讼。</b></p>
						<p ><b>10.&nbsp;附则</b></p>
						<p>10.1	本协议根据第2条的规定成立时，本协议第2、6、9、10条即生效，本协议其他条款于甲方出借予乙方的出借资金划付至乙方之维金荟资金账户时即生效。在乙方将本协议项下的全部本金、利息、逾期罚息、平台服务费及其他所有相关费用全部偿还完毕后，本协议自动终止。</p>
						<p>10.2	各方可以书面协议方式对本协议作出修改和补充。经过各方签署的有关本协议的修改协议和补充协议，以及本协议的附件均是本协议组成部分，具有与本协议同等的法律效力。</p>
						<p>10.3	本协议及其修改或补充均采用通过维金荟网站以点击操作形成电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并永久保存在丙方为此设立的专用服务器上备查和保管。各方均认可该形式的法律效力。</p>
						<p>10.4	如果本协议中的任何一条或多条因违反适用的法律法规被认定为无效、不具有强制执行效力的，则该等条款的无效、不具有强制执行效力并不影响本协议其他条款的效力。</p>
						<p>10.5	本协议签订之日起至借款本息和有关费用全部清偿之日止，甲方的手机号码或者电子邮件地址发生变更的，应当在变更后立即至维金荟网站进行信息修改操作的方式通知丙方；乙方的下列信息如发生变更的，其应当在相关信息发生变更三日内自行或通过其授权代理人将更新后的信息及时提供给丙方：本人的家庭联系人及紧急联系人、本人的工作单位、居住地址、住所电话、手机号码、电子邮件地址、银行账户的变更。<b>若因甲方/乙方不及时提供上述变更信息而带来的损失或额外费用应由该方自行承担。</b></p>
						<p>10.6	乙方确认并保证：乙方申请和签约时提供的居住地址、电子邮件地址均为乙方的送达地址，提供的电话号码随时保持有效接通状态。本协议履行过程中，乙方若需变更上述地址和号码，应当以EMS方式向丙方进行书面告知。在各方关于本协议的权利义务终止前，甲方、丙方因履行义务、实现权利之需要，或法院、仲裁机关、行政机关处理案件需要，可采取包括但不限于以下的方式进行送达/通知：<br/>向乙方居住地址邮寄纸质文件，该等文件在投邮后的第三日（自邮寄当日起算）视为已送达；<br/>向乙方电子邮件地址发送电子文件（包括不限于本协议），该等文件在发送当日视为已送达；<br/>向乙方提供的电话号码拨打电话或发送短信，在拨打/发送当日视为已通知/已送达。</p>
						<p>附件1：提前还款方案</p>
						<p>乙方在借款期限内若提前全额还款的，应在按照《借款协议》的约定无违约<b>正常还款<u>&nbsp;个月</u></b>之后提出书面申请。在乙方经相关权利人核准同意并满足相关要求后，乙方一次性足额支付所有提前还款应付款项，包含：甲方应收的<b>借款本息和提前还款补偿</b>、丙方应收的<b>平台服务费</b>、乙方<b>已欠付款项</b>（若有）等应付款项。</p>
						<p class='LegalL2'><b>附件2：授权委托书</b> </p>
						<p class='LegalL2' align=center><b>授权委托书<br/>（出借人用）</b> </p>
						<p class='LegalL2'>委 托 人： </p>
						<p class='LegalL2'>身份证号：</p>
						<p class='LegalL2'>维金荟用户名：</p>
						<p class='LegalL2'>受 托 人：<b>上海维信智荟互联网金融信息服务有限公司</b></p>
						<p>委托事项：委托人授权受托人作为其代理人，代理委托人行使其在《借款协议》项下之出借人的各项权利，包括但不限于：</p>
						<p>1、向借款人或借款人之授权代理人发送债权转让等通知；</p>
						<p>2、向借款人进行借款的违约提醒及催收工作，方式包括但不限于电话通知、上门通知、发律师函、对借款人提起诉讼等；</p>
						<p>3、按照协议规定提前解除协议或宣布借款全部到期。</p>
						<p>委托人同意：受托人有权将上述授权事项转委托。</p>
						<p>委托期限：自本授权委托书签署之日起至委托人作为出借人签署之协议项下委托人的权利义务全部终止之日止，授权期间本授权不得撤销和变更。</p>
						<p align="right">委托人：&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<p align="right"><u>&nbsp;&nbsp;</u>年<u>&nbsp;&nbsp;</u>月<u>&nbsp;&nbsp;</u>日 </p>
						<p>(以下无正文) </p>
					</div>
					<div ng-switch-when="3" class="col333 mb50">
						<p class="tc f16 fb">债权转让协议</p>
						<p class="tr">编号：XXXX</p>
						<p>甲方（出让人）：</p>
						<p>姓名：</p>
						<p>身份证号码：</p>
						<p>维金荟平台用户名：</p>
						<p>维金荟资金账户：</p>
						<p>乙方（受让人）：</p>
						<p>姓名：</p>
						<p>身份证号码：</p>
						<p>维金荟平台用户名：</p>
						<p>维金荟资金账户：</p>
						<p>丙方（居间服务人）：上海维信智荟互联网金融信息服务有限公司</p>
						<p>住所：上海市浦东新区茂兴路88号4楼435室</p>
						<p>联系电话：</p>
						<p>传真：</p>
						<p>签订时间：</p>
						<p>签订地：</p>
						<p>鉴于:</p>
						<p>1.	乙方愿意以自有合法资金受让甲方通过丙方经营管理的维金荟平台（www.vmoney.cn） 与借款人签署的《借款协议》项下全部债权（以下简称“转让债权”）；</p>
						<p>2.	乙方同意接受《借款协议》之全部条款，并受《借款协议》之约束。</p>
						<p>现各方经过友好协商，在平等、自愿的基础上就债权转让事宜达成如下协议：</p>
						<p>一、	转让债权基本情况</p>
						<p>借款人：（真实姓名+身份证号）：</p>
						<p>借款协议：（签订时间+编号）</p>
						<p>债权转让费用：</p>
						<p>转让债权的基本情况：</p>
						<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<th>转让债权金额</th>
									<th>借款期限（月）</th>
									<th>年利率%</th>
									<th>借款开始日期</th>
									<th>借款到期日期</th>
									<th>借款还款日</th>
									<th>还款方式</th>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								 </tr>
							</tbody>
						</table>
						<p>甲方同意以上述债权转让费用向乙方转让上述债权，乙方同意以上述价格受让该转让债权。</p>
						<p>二、	支付方式及期限</p>
						<p>乙方应当于本协议签订的当日将本协议第一条约定之债权转让费用全额通过其 “维金荟资金账户”）支付至甲方的维金荟资金账户。</p>
						<p>本协议所述的“维金荟资金账户”是指各方在第三方支付机构——上海汇付数据服务有限公司（简称“汇付天下”）开设的资金账户，本协议所述的各方维金荟资金账户名见协议首部。</p>
						<p>三、	乙方收益账户</p>
						<p>本协议生效后，转让债权对应的《借款协议》项下借款本金及利息应当支付至乙方维金荟资金账户，该账户即为乙方收益账户。</p>
						<p>四、	债权转让通知及方式</p>
						<p>各方同意：甲方委托丙方于本协议生效后3个工作日内将本次债权转让事宜通知借款人，通知方式不应违反《借款协议》的约定。</p>
						<p>五、	协议的生效及效力</p>
						<p>1.	本协议自甲方维金荟资金账户全额收到乙方支付的债权转让费用之日起生效。</p>
						<p>2.	协议生效后，甲乙双方以本协议为依据形成真实、合法、有效的债权转让行为。任何法定或《借款协议》约定的与转让债权相关之权利及义务应于本协议生效后一并由乙方享有及承担。</p>
						<p>六、	协议的解除及终止</p>
						<p>1.	本协议一经生效即不可解除或终止。</p>
						<p>2.	如乙方未按约定时间向甲方全额支付债权转让费用的，甲方有权终止本协议。</p>
						<p>七、	保密</p>
						<p>协议方应对在本协议签订过程中所获悉的其他方信息，包括但不限于身份、财务及商业信息等，承担保密义务。非经书面同意，任何一方均不得将上述信息向其他第三方进行披露。</p>
						<p>八、	债权转让的协助服务费</p>
						<p>甲方同意：按照本协议第一条约定的债权转让费用总额的<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;% </u>向丙方支付本协议项下债权转让的协助服务费。</p>
						<p>九、	违约责任</p>
						<p>本协议任意一方未按协议约定履行义务或违反约定的，应当承担由此给守约方造成的一切损失，包括但不限于守约方为实现权利支付的律师费、诉讼费等。</p>
						<p>十、	争议解决</p>
						<p>协议方在履行本协议中发生任何争议应当友好协商解决，无法协商解决的，任何一方均有权向丙方住所地的上海市浦东新区人民法院提起诉讼。</p>
						<p>十一、	附件</p>
						<p>1.	第一条所述之《借款协议》。</p>
						<p>十二、	其他</p>
						<p>1.	本协议与附件不可分割，任何本协议无约定之事项均应适用《借款协议》之约定。</p>
						<p>2.	任何在协议履行过程中产生的争议均不影响本协议其他条款的履行及效力。</p>
						<p>3.	如本协议中的任何一条或多条因违反适用的法律法规被认定无效的，均不影响其他条款、本协议及《借款协议》的效力。</p>
						<p>4.	本协议各条款的标题仅为参照方便而设，并不限制或从其他角度影响本协议条款的含义和诠释。</p>
						<p>5.	协议各方同意本协议以电子版本生成，并受其约束。</p>
					</div>
					<div ng-switch-when="4" class="col333 mb50">
						<p class="red">【本协议仅适用于：出借人投资项目之债务人严重逾期并经服务方按约垫付后，乙方使用风险备用金购买该笔借款的的剩余本金。】详见<a href="#/plan" class="red">《本息保障计划》</a></p>
						<p class="tc f16 fb">债权转让协议</p>
						<p class="tr">编号：XXXX</p>
						<p>甲方（出让人）：</p>
						<p>姓名：</p>
						<p>身份证号码：</p>
						<p>维金荟平台用户名：</p>
						<p>维金荟资金账户：</p>
						<p>乙方（受让人）：上海维信智荟互联网金融信息服务有限公司</p>
						<p>住所：上海市浦东新区茂兴路88号4楼435室</p>
						<p>联系电话：</p>
						<p>传真：</p>
						<p>签订地：</p>
						<p>鉴于:</p>
						<p>1.	乙方愿意以自有合法资金受让甲方通过维金荟平台（www.vmoney.cn） 与借款人签署的《借款协议》项下全部债权（以下简称“转让债权”）；</p>
						<p>2.	乙方同意接受《借款协议》之全部条款，并受《借款协议》之约束。</p>
						<p>现甲、乙双方经过友好协商，在平等、自愿的基础上就债权转让事宜达成如下协议：</p>
						<p>一、	转让债权基本情况</p>
						<p>借款人：（真实姓名+身份证号）：</p>
						<p>借款协议：（签订时间+编号）</p>
						<p>债权转让费用：</p>
						<p>转让债权的基本情况：</p>
						<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<th>转让债权金额</th>
									<th>借款期限（月）</th>
									<th>年利率%</th>
									<th>借款开始日期</th>
									<th>借款到期日期</th>
									<th>借款还款日</th>
									<th>还款方式</th>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								 </tr>
							</tbody>
						</table>
						<p>甲方同意以上述债权转让费用向乙方转让上述债权，乙方同意以上述价格受让该转让债权。</p>
						<p>二、	支付方式及期限</p>
						<p>乙方应当及时将本协议第一条约定之债权转让费用全额支付至甲方的维金荟资金账户。本协议所述的“维金荟资金账户”是指各方在第三方支付机构——上海汇付数据服务有限公司（简称“汇付天下”）开设的资金账户，本协议所述的各方维金荟资金账户名见协议首部。</p>
						<p>三、	债权转让通知及方式</p>
						<p>各方同意：甲方将委托乙方于本协议生效后3个工作日内将本次债权转让事宜通知借款人，通知方式不应违反《借款协议》的约定。</p>
						<p>四、	协议的生效及效力</p>
						<p>1.	本协议自甲方维金荟资金账户全额收到乙方支付的债权转让费用之日起生效。</p>
						<p>2.	协议生效后，甲乙双方以本协议为依据形成真实、合法、有效的债权转让行为。任何法定或《借款协议》约定的与转让债权相关之权利及义务应于本协议生效后一并由乙方享有及承担，转让债权对应的《借款协议》项下借款本金及利息应当支付至乙方。</p>
						<p>五、	协议的解除及终止</p>
						<p>1.	本协议一经生效即不可解除或终止。</p>
						<p>2.	如乙方未按约定时间向甲方全额支付债权转让费用的，甲方有权终止本协议。</p>
						<p>六、	保密</p>
						<p>协议方应对在本协议签订过程中所获悉的其他方信息，包括但不限于身份、财务及商业信息等，承担保密义务。非经书面同意，任何一方均不得将上述信息向其他第三方进行披露。</p>
						<p>七、	违约责任</p>
						<p>本协议任意一方未按协议约定履行义务或违反约定的，应当承担由此给守约方造成的一切损失，包括但不限于守约方为实现权利支付的律师费、诉讼费等。</p>
						<p>八、	争议解决</p>
						<p>协议方在履行本协议中发生任何争议应当友好协商解决，无法协商解决的，任何一方均有权向本协议丙方住所地的上海市浦东新区人民法院提起诉讼。</p>
						<p>九、	附件</p>
						<p>1.	第一条所述之《借款协议》。</p>
						<p>十、	其他</p>
						<p>1.	本协议与附件不可分割，任何本协议无约定之事项均应适用《借款协议》之约定。</p>
						<p>2.	任何在协议履行过程中产生的争议均不影响本协议其他条款的履行及效力。</p>
						<p>3.	如本协议中的任何一条或多条因违反适用的法律法规被认定无效的，均不影响其他条款、本协议及《借款协议》的效力。</p>
						<p>4.	本协议各条款的标题仅为参照方便而设，并不限制或从其他角度影响本协议条款的含义和诠释。</p>
						<p>5.	协议各方同意本协议以电子版本生成，并受其约束。</p>
						<p>6.	本协议自甲方点击确认后即成立。本协议第一条内容由维金荟平台据实生成，甲方不可撤销地信赖且认可维金荟平台生成的该等数据信息，并同意该等数据信息届时成为本协议的有效组成部分（无论该等数据信息是在甲方点击确认协议之前还是点击确认协议之后生成）。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'app/footer/footer.html'"></div>