.colf90{color:#f90;}
.rateWrapper span{display:inline-block;}
.rateWrapper h1{padding-top:10px;width:90%;}
.rateWrapper p{margin-bottom:5px;width:90%;}
.tIndent30{text-indent:30px;}
.rateWrapper img{width:auto;}
.rateWrapper{background:#fff;}