.shareway{border-top: 3px solid #00b1ff;display: inline-block;width: 95%;}
.shareway ul{width:100%;display: inline-block;}
.shareway ul li{float: left;margin: 20px 0px 20px 30px;padding-right: 30px;color: #999;border-right: 1px dotted #abbfcb;text-align:center;line-height:35px;width:25%;}
.shareway ul dl dt{color:#333;}
.shareway ul dl dd{display: inline-block;margin:10px 10px 0px 0px;}
.shareway ul dl dd a{color: #999;display:inline-block;}
.shareway ul dl dd i{background-image:url(../../assets/images/allicon.png);background-position:-527px -363px;display:inline-block;width:50px;height:50px;}
.shareway ul dl dd i.weixin{background-position:-522px -357px;}
.shareway ul dl dd i.weibo{background-position:-586px -357px;}
.shareway ul dl dd i.qqweibo{background-position:-523px -419px;}
.shareway ul dl dd i.sms{background-position:-587px -419px;}
.shareway ul dl dd i.email{background-position:-523px -479px;}
.shareway ul dl dd i.link{background-position:-587px -479px;}
.shareway ul li:last-child{border-right:none;}
.shareway ul:last-child{border-top:1px solid #d5dfe5;background:#f5f7fa;}
.shareway ul:last-child li{width:17%;}
.shareway ul:last-child li a.btn{width:100px;height:30px;line-height:30px;}
i.unbind{background-image:url(../../assets/images/allicon.png);background-position:-170px -389px;display:inline-block;width:20px;height:20px;vertical-align:middle;}
.packetnum{background-image:url(../../assets/images/allicon.png);background-position:-211px -390px;display:inline-block;width:15px;height:15px;margin-left:5px;}

.publicPop{background:#fff;width:550px;border:6px solid rgba(0, 0, 0, 0.4);}
.title{border-bottom:1px solid #d3dae2;padding:10px;font-size:16px;color:#333;display:inline-block;width:96%;}
.publicPopMain{background:#fff;padding:20px;}
.publicPop .close{background-image:url(../../assets/images/allicon.png);background-position:-210px -420px;display:inline-block;width:20px;height:20px;opacity: 10;position:absolute;right: 10px;top:10px;}
.publicPopMain p{width:95%;display: inline-block;margin-bottom:10px;}
.publicPopMain p label{width:90px;text-align:right;margin-right:10px;float:left;line-height:40px;font-weight:normal;}
.publicPopMain p input[type=text]{border:1px solid #d3dae2;width:290px;height:40px;margin-right:10px;padding:0px 10px;}
.publicPopMain p textarea{border:1px solid #d3dae2;width:290px;padding:5px 10px;height:80px;color:#333;}
.publicPopMain p button{width:100px;}
.newBoxTable{top:20px;right:240px;display:none;}
.newBox table{width:400px;border:1px solid #d5dfe5;border-top:1px solid #00b1ff;background:#fff;right:10px;}
.tabbox .newBox table thead th{padding:15px 0px;background:#fff;}
.tabbox .newBox table tbody td{padding:10px 0px;}
.tabbox .newBox .arrow{left: 334px;}