<div ng-include="'app/header/header.html'"></div>
<div class="registerWrapper" ng-init="ready()">
    <div class="container">
        <h2>
            <a class="fl logo" href="#/"></a>
            <span class="fl f22">修改邮箱</span>
        </h2>
		<div class="registerForm modifypwdForm pr" >
			<a class="pa cancel" ui-sref="account-detail"> X 取消</a>
			<form name="modifyEmailForm">
				<div class="pwdMsg">
					<i class="fl"></i><p class="w260 fl">请先确认当前绑定的邮箱是{{email_old}}</p>
				</div>
                <div>
                    <label class="fl">新邮箱地址</label>
                    <p class="pr fl">
						<span class="emailLabel pa"></span>
						<input  ng-keyup="judgeEmail()" ng-required="true" name="email" ng-pattern="/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/" ng-model="email" type="email" class="w280 pl40" placeholder="请输入邮箱地址" >
					</p>
                    <div class="msgError fl f14 ml10"
                         ng-show="(modifyEmailForm.email.$viewValue==null||modifyEmailForm.email.$viewValue=='')?false:modifyEmailForm.email.$invalid">
                        <i class="vm mr10"></i>邮箱格式不正确
                    </div>
                    <div class="msgError fl f14 ml10"
                         ng-show="(modifyEmailForm.email.$viewValue==null||modifyEmailForm.email.$viewValue=='')?false:emailEqual">
                        <i class="vm mr10"></i>邮箱地址不能和原邮箱相同
                    </div>
                </div>
                
                <div class="ml120">
                    <input class="next_enable f18" ng-class="{'nxet_enable':modifyEmailForm.email.$valid?(emailEqual?false:!sendEmailSuccess):false,'next_disable':modifyEmailForm.email.$valid?(emailEqual?true:sendEmailSuccess):true}" ng-disabled="modifyEmailForm.email.$valid?(emailEqual?true:sendEmailSuccess):true" ng-click="submitForm(modifyEmailForm.$valid)" type="button" value="确认发送"/>
                </div>
                <div class="pwdMsg" ng-show="sendEmailSuccess">
                    <p class="w260 fl">维金荟向您的邮箱发送了一封验证邮件，请您前往收取邮件</p>
                </div >
            </form>
		</div>      
    </div>
</div>
<div ng-include="'app/footer/loginfooter.html'"></div>