.ml120{margin-left:130px;}
.modifypwdForm form{margin-top:120px;}
.modifypwdForm form label{width:110px;}
.modifypwdForm .pwdMsg{background:#ecf0f5;width:302px;padding:10px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-left:130px;}
.modifypwdForm .pwdMsg i{background-image: url(../../assets/images/allicon.png);background-position:-137px -520px;background-repeat: no-repeat;display: inline-block;width:20px;height:20px;vertical-align: middle;margin-right:10px;}